[user]
    name = Christof Nolle
    email = mail@christof-nolle.de
[core]
    excludesfile = /home/christof/.gitignore
    editor = nvim
[commit]
    template = /home/christof/.git-commit-template.txt
[alias]
    bclean = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[pull]
    rebase = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    # define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
    cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
    tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
    prompt = false
